<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>{{name}} want's to connect with your concern </h2>
  <h2>Message :</h2>
  <p>We're glad to have you on board at {{message}}. </p>
  <h2>Contact Number :</h2>
  <p>{{phone}}</p>
</body>
</html>